img {
  width: 100%;
  margin-bottom: 30px;
  height: 100%;
  object-fit: cover;
  text-align: center;
  display: block;
}

p {
  display: block;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin: 1rem;
}

.col-sm {
  margin: 2rem 0rem;
}

.pic {
  width: 12rem;
  height: 12rem;
  margin: auto;
}

.services {
  margin-top: 5rem;
  width: 100%;
  margin-bottom: 5rem;
}
